# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*
logs.txt
app.env
gptdb-5a185-firebase-adminsdk-ta4a9-6bf0706c8b.json
